* {
    background-color: darkslategray;
    font-family:'Franklin Gothic Medium', monospace;
    color: lightskyblue;
}

header {
    text-align: center;
    background: lightgoldenrodyellow;
    padding: 60px;
    font-size: 30px;
}

main {
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    font-size: 30px;
    display: inline-block;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}