* {
    background-color: darkslategray;
    font-family:'Franklin Gothic Medium', monospace;
    color: lightskyblue;
}

header {
    text-align: center;;
    padding: 10px;
    font-size: 40px;
    border: 5px solid lightgoldenrodyellow;
    width: 100%;
}

main {
    text-align: center;
    margin-top: 20px;
}

main h2 {
    color: white;
    font-size: 40px;
}

main p {
    color: white;
    justify-content: center;
    font-size: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    font-size: 30px;
    display: inline-block;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px;  
  }

.grid-container a {
    display: block;
    font-size: 25px;
}

.grid-container .card1  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    border: 3px solid greenyellow;
    padding: 30px;
    font-size: 15px;
    text-align: center;
    flex-grow: 4;
}

.grid-container .card1 img {
    display: block;
    margin: 10px auto;
    max-width: 500px;
}

.grid-container .card2  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    border: 3px solid greenyellow;
    padding: 30px;
    font-size: 15px;
    text-align: center;
    flex-grow: 4;
}

.grid-container .card2 img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
}

.grid-container .card3  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    border: 3px solid greenyellow;
    padding: 30px;
    font-size: 15px;
    text-align: center;
    flex-grow: 4;
}

.grid-container .card3 img {
    display: block;
    margin: 10px auto;
}

.contact-info .contact-info-card  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    border: 5px solid greenyellow;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    flex-grow: 4;
}

@media  and (max-width: 768px) {
    .grid-container {
        flex-direction: column;
    }

    .grid-container .card1 {
        flex-direction: column;
    }

    .grid-container .card2 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .grid-container .card3 {
        flex-direction: column;
    }
}